
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>@ViewBag.greetings , </h1>
<h1>@ViewBag.customerData.Custid </h1>
<h2>@ViewBag.customerData.CustName  </h2> <h1>from</h1>
<h1>@ViewBag.customerData.City</h1>


